# Created by .ignore support plugin (hsz.mobi)
/bin
.idea/
.cover/
cover_cobertura_result

/pkg/
/vendor/pkg
/log
/output

src/common/version/build.go
src/common/cluster_registry/default.etcd/

test/resource_test/default.etcd/
test/resource_test/*.out
test/resource_test/log
test/resource_test/config/*.yaml
test/resource_test/**/*.tgz
test/resource_test/src/cases/**/*.bin
test/resource_test/images/**/jvessel_file
test/resource_test/src/cmd/jvessel-resource-test
test/resource_test/images/underlayentry/server
test/resource_test/case_result.log

test/3rd_test/src/cases/**/*.tgz
test/3rd_test/**/*.bin
test/3rd_test/image/**/*.tgz

test/system_test/vagrant/vms
test/system_test/tmp
test/module_test/logship/tmp

html/jvessel-frontend/package-lock.json
html/static/js/*.map

tool/release/jvessel_file/
tool/log/download
tool/release/filebeat-5.6.0-linux-x86_64*
tool/image-spec/jvessel_image_spec.tar
tool/stand_alone/context
services/etcd*/image/*.gz
services/etcd*/image/*.tgz
services/etcd*/image/etcd
services/etcd*/image/etcdctl
services/etcd*/image/jvessel_file

test/resource_test/images/etcd_on_jvessel/jvessel-etcdctl/etcdctl

test/resource_test/src/cases/etcd-on-jvessel/template/create/az2-etcd-replicas.yaml
test/resource_test/src/cases/etcd-on-jvessel/template/create/az1-etcd-replicas.yaml
test/resource_test/src/cases/etcd-on-jvessel/template/create/schedule.yaml

test/resource_test/src/cases/etcd-local/template/create/az2-etcd-replicas.yaml
test/resource_test/src/cases/etcd-local/template/create/az1-etcd-replicas.yaml
test/resource_test/src/cases/etcd-local/template/create/schedule.yaml

/base-image
/base-chart

tutorial/2-images/*.tgz
tutorial/2-images/*/jvessel_file/
tutorial/2-images/hello-image/hello
tutorial/2-images/manager-image/manager
tutorial/2-images/hello-upgrade-image/hello
tutorial/2-images/proxy-image/proxy


test/smoke_test/3-charts
test/smoke_test/images
